@using ProjectManager.Data.Models;
@model ProjectManager.MVC.Models.ActionViewModel
@{
    ViewData["Title"] = "Actions";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body> 
    <div class="text-center">
        <h1 class="display-4">Actions</h1>
        <h2 class="successMessage">@ViewBag.Success</h2>
    </div>

    <h2>Search Actions:</h2>
    <form id="formSearchActions" asp-action="SearchActions" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#actionsTable" data-ajax-mode='replace' data-ajax-url="@Url.Action("SearchActions","Actions")">
         <table class="table table-bordered table-striped table-responsive table-hover">
            <tr>
                <td><input type="submit" value="Search"/></td>
                <td>Description: <input id="description" type="text" name="Description"/></td>
                <td>Owner: <select id="ownerId" name="OwnerId">
                                    @foreach(ActionOwner owner in Model.Owners)
                                    {
                                        <option value="@owner.Id">@owner.LastName, @owner.FirstName</option>
                                    }
                            </select>
                </td>
            </tr>
        </table>
    </form>

     @*<div>
        <form method="post" enctype="multipart/form-data" asp-controller="Actions" asp-action="Actions">
            <table>
                <tr>
                    <td>Date Opened: </td>
                    <td><input type="date" id="dateOpened" name="DateOpened"/></td>
                </tr>
                <tr>
                    <td>Date Due: </td>
                    <td><input type="date" id="dateDue" name="DateDue"/></td>
                </tr>
                <tr>
                    <td>Date Closed: </td>
                    <td><input type="date" id="dateClosed" name="DateClosed"/></td>
                </tr>
                <tr>
                    <td>Status: </td>
                    <td>
                        <div style:"width:200px;">
                            <select>
                                <option value="0">Open</option>
                                <option value="1">Closed</option>
                                <option value="2">InProcess</option>
                                <option value="3">Unknown</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td><input type="text" id="description" name="Description"/></td>
                </tr>
                 <tr>
                    <td>Priority: </td>
                    <td>
                        <div style:"width:200px;">
                            <select>
                                <option value="0">Low</option>
                                <option value="1">Medium</option>
                                <option value="2">High</option>
                                <option value="3">Unknown</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Owner: </td>
                    <td><input type="text" id="owner" name="Owner"/></td>
                </tr>
                <tr>
                    <td>Resolution: </td>
                    <td><input type="text" id="resolution" name="Resolution"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit"/></td>
                </tr>
            </table>
            <hr/>
        </form>
    </div>*@

    <h2>Actions:</h2>
    <div>
        <table id="actionsTable" class="table table-striped table-responsive table-hover">
            <thead>
                <tr>
                    
                    <th>Description</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Resolution</th>
                    <th>Due</th>
                    <th>Opened</th>
                    <th>Closed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProjectAction projectAction in Model.Actions) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => projectAction.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => $"{projectAction.OwnerLastName}, {projectAction.OwnerFirstName}")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => projectAction.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => projectAction.Priority)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => projectAction.Resolution)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => projectAction.DateDue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => projectAction.DateOpened)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => projectAction.DateClosed)
                        </td>
                        <td>
                            @using(Html.BeginForm("DeleteAction","Actions"))
                             {
                               <input type="hidden" name="ActionId" value="@projectAction.Id" />
                               <input type="submit" value="Delete" />
                             }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
