@using ProjectManager.Data.Models;
@model ProjectManager.MVC.Models.ProjectViewModel
@{
    ViewData["Title"] = "Projects";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Projects</h1>
    </div>
    <form id="formSearchProjects" asp-action="SearchProjects" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#projectsTable" data-ajax-mode='replace' data-ajax-url="@Url.Action("SearchProjects","Projects")">
         <table>
            <tr>
                <td><input type="submit" value="Search"/></td>
                <td>Name: <input id="name" type="text" name="Name"/></td>
                <td>Owner: <select id="ownerId" name="OwnerId">
                                    @foreach(ProjectOwner owner in Model.Owners)
                                    {
                                        <option value="@owner.Id">@owner.LastName, @owner.FirstName</option>
                                    }
                            </select>
                </td>
            </tr>
        </table>
        <div id="projectsTable">
            @*Placeholder for project search table*@
        </div>
    </form>
    <div style="border:thin solid black">
        <table id="projectsTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Due</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Project project in Model.Projects) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => project.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => project.OwnerLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => project.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => project.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => project.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => project.DueDate)
                        </td>
                        <td>
                            <input type="button" value="Delete" onclick="DeleteProject(@project.Id.ToString())">
                        </td>
                    </tr>
            }
            </tbody>
        </table>
        </div>
    @*<div>
        <form method="post" enctype="multipart/form-data" asp-controller="Projects" asp-action="AddProject">
            <table>
                <tr>
                    <td>Name: </td>
                    <td><input type="text" id="name" name="Name"/></td>
                </tr>

                <tr>
                    <td>Description: </td>
                    <td><input type="text" id="description" name="Description"/></td>
                </tr>

                <tr>
                    <td>Owner: </td>
                        <td>
                            <div style:"width:200px;">
                                <select id="ownerId" name="OwnerId">
                                    @foreach(ProjectOwner owner in Model.Owners)
                                    {
                                        <option value="@owner.Id">@owner.LastName, @owner.FirstName</option>
                                    }
                                </select>
                            </div>
                        </td>
                </tr>

                <tr>
                    <td>Status: </td>
                    <td>
                        <div style:"width:200px;">
                            <select id="statusId" name="StatusId">
                                @foreach(KeyValuePair<int, string> status in Model.Statuses)
                                {
                                    <option value="@status.Key">@status.Value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Category: </td>
                    <td>
                        <div style:"width:200px;">
                            <select id="categoryId" name="CategoryId">
                                @foreach(KeyValuePair<int, string> category in Model.Categories)
                                {
                                    <option value="@category.Key">@category.Value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Date Opened: </td>
                    <td><input type="date" id="dateOpened" name="StartDate"/></td>
                </tr>

                <tr>
                    <td>Date Closed: </td>
                    <td><input type="date" id="dateClosed" name="EndDate"/></td>
                </tr>

                <tr>
                    <td>Date Due: </td>
                    <td><input type="date" id="dateDue" name="DueDate"/></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Add" />
                    </td>
                </tr>

            </table>
            <hr/>
        </form>
    </div>*@

    <script>            
        function DeleteProject(id){
            $.post("/Projects/DeleteProject", 
                {
                    projectId: id, 
                    projectViewModel: JSON.parse('@Html.Raw(Json.Serialize(@Model))')
                }
            );
        }
    </script>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
}
</html>
